*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.json
/media
/static
/venv
/node_modules
/newsletter/templates/newsletter/email/newsletter.html
/newsbetter/templates/newsbetter/static/css/custom.css
/newsbetter/templates/newsbetter/static/css/dashboard.css
