<!DOCTYPE html>

<html class="no-js" lang="en" >
{% load staticfiles %}

<head>
  <meta charset="utf-8" />
  <title>Newsbetter</title>
  <meta name="description" content="Newsletter automator" />

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />

</head>

<body>
  {% block content %}
  {% endblock %}

  <!-- Scripts -->
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

</body>

</html>
